body {
  font-family: "HelveticaNeue-Thin", sans-serif;
  -webkit-overflow-scrolling: touch;
}

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling */
  -webkit-font-smoothing: antialiased; /* Better font rendering */
}