.hero-about {
  padding: 2rem;
  background-color: #f9f9f9;
  text-align: center;
}

.hero-about h1 {
  color: #3e3e3e;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-about p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

.skills-section {
  padding: 2rem 5%; /* Consistent horizontal padding */
  background-color: #f9f9f9;
  text-align: center;
}

.skills-content {
  max-width: 1200px; /* Limit the maximum width */
  margin: 0 auto; /* Center the content */
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.skill {
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.skill i {
  font-size: 2rem;
  color: #d1c239;
  margin-bottom: 1rem;
}

.skills-content h2 {
  padding-bottom: 30px;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #3e3e3e;
}

.skill h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #3e3e3e;
}

.skill p {
  font-size: 1rem;
  color: #666;
}

/* Experience Section Styles */
.experience-section {
  padding: 2rem;
  background-color: #f9f9f9;
  text-align: center;
}

.experience-content h2 {
  padding-bottom: 30px;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #3e3e3e;
}

.timeline {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.timeline-item {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.timeline-item h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #3e3e3e;
}

.timeline-item p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.hero-content {
  flex: 1;
}

.certifications-content h2 {
  padding-bottom: 30px;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #3e3e3e;
}

.certifications-section {
  text-align: center;
  padding: 50px 5%;
  background: #f9f9f9;
}

.certifications-content {
  max-width: 1200px;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px 30px;
  height: auto;
}

.swiper-slide {
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
  align-items: stretch;
}

.swiper-slide img {
  width: 20%; /* Adjust image size */
  height: auto;
  display: block;
  margin: 0 auto;
}

.swiper-slide h3 {
  margin: 10px 15px;
  min-height: 50px; /* Ensures all titles have the same height */
  text-align: center;
  overflow: hidden;
  font-size: 1.2rem; /* Consistent font size */
  line-height: 1.4; /* Consistent line height */
  overflow: hidden; /* Prevent text overflow */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
}

.swiper-slide p {
  text-align: center;
  font-size: 0.9rem; /* Consistent font size */
  color: #3e3e3e;
  line-height: 1.4; /* Consistent line height */
  margin: 10px 0; /* Add spacing */
}

/* Navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #3e3e3e;
}

.swiper-pagination {
  margin-top: 10px;
}

@media (max-width: 768px) {

  .swiper-container {
    width: 90%;
    align-content: center;
  }

  .swiper-slide {
    min-height: 200px;
  }
}