.index-section {
  padding: 2rem;
  background-color: #f9f9f9;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-content {
  flex: 1;
}

img {
  max-width: 50%;
  height: auto;
}